.delivery {
   
   h2 {
      @include adaptiv-font(36, 22);
      margin-block-end: 0.3em;
   }

   strong {
      font-family: $pn-bold;
      color: $text-grey;
      @include adaptiv-font(17, 14);
   }

   p {
      font-family: $pn-reg;
      color: $text-grey;
      @include adaptiv-font(16, 14);
   }

   ul {
      margin: 1rem 0rem 4rem;
      li {
         font-family: $pn-reg;
         color: $text-grey;
         @include adaptiv-font(16, 14);
      }
   }
}