.posts {

   &__nav {
      display: flex;
      align-items: start;
      width: 100%;

      ul {
         display: flex;
         justify-content: start;
         list-style: none;
         padding: 0;
         margin: 2rem 0rem 1.5rem;
         width: 100%;
         
         li {
            border: 1px solid #C4C4C4;
            border-radius: 5px;
            font-family: $pn-reg;
            font-size: 1.6rem;
            color: #9B51E0;
            padding: 0.5rem 0.75rem;
            margin: 0rem 0.5rem;
            cursor: pointer;
         }
      }
   }

   &__cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   a {
      color: #000;
   }

   &__header {
      width: 65%;
      span {
         color: #00B300;
      }
   }

   &__wrapper {
      margin: 5rem 0rem 5rem 0rem;
   }

   &__content {
      display: flex;
      margin: 0 auto;
      width: 80%;
   }

   &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30.33%;
      height: 100%;
      margin: 1rem;
      border-radius: 1rem;
      overflow: hidden;

      &-image {
         overflow: hidden;
         height: 47%;
      }

      &-img {
         width: 100%;
         transition: all 1s;

         &:hover {
            transform: scale(1.1);
         }
      }

      &-body {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         padding: 1rem;
         height: 53%;
      }

      &-title {
         @include adaptiv-font(22, 16);
         margin-block-start: 0.5em;
         margin-block-end: 0.5em;
         color: #000;
      }

      &-text {
         @include adaptiv-font(17, 14);
         font-family: $pn-reg;
         color: $grey;
      }  
   }

   &__pagination {
      display: flex;
      justify-content: center;
      align-items: center;

      .pagination {
         display: flex;
         list-style: none;
         padding: 0;
         border: 1px solid #F0E5E5;
         filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.1));
         border-radius: 5px;
         overflow: hidden;

         &__item {
            padding: 1rem;
            border-right: 1px solid #F0E5E5;
            color: #686868;
            font-size: 1.6rem;
            font-family: $mp-reg;
            cursor: pointer;

            &:last-child {
               border: none;
            }

            &:hover {
               background-color: lighten(#00B300, 20%);
            }

            &-active {
               background-color: #00B300;
               color: #fff;
            }
         }
      }
   }
}


@media (max-width: 1280px) {
   .posts {
      &__content {
         width: 95%;
      }

      &__card {
         &-image {
            height: 40%;
         }
      }
   }
}

@media (max-width: 1024px) {
   .posts {
      &__header {
         width: 95%;
      }

      &__wrapper {
         margin: 2rem 0rem;
      }

      &__content {
         width: 95%;
      }

      &__card {
         width: 45%;
         &-body {
            padding: 0.5rem;
         }

         &-image {
            height: 38%;
         }
      }
   }
}

@media (max-width: 578px) {
   .posts {
      &__header {
         width: 95%;
      }

      &__wrapper {
         margin: 2rem 0rem;
      }

      &__content {
         display: flex;
         flex-direction: column;
      }

      &__card {
         width: 100%;
         margin: 0rem 0rem 3rem 0rem;

         &-image {
            width: 100%;
         }

         &-body {
            padding: 0.5rem;
         }

         &-image {
            height: 38%;
         }
      }
   }
}